{%  extends 'base.html' %}


{% block content %}

<div class="container mx-auto mt-8 p-6 bg-white shadow-lg rounded-lg">
  <div class="flex md:flex-row flex-col">
    <div class="w-6/12 ">
        <h1 class="text-3xl font-bold mb-4">Add Shop in {{mall.mallName}}</h1>
    
        <form method="post">
            {% csrf_token %}
    
            <div class="mb-4">
                <label for="shopName" class="block text-sm font-medium text-gray-600">Shop Name:</label>
                <input type="text" id="shopName" name="shopName" placeholder="Enter Shop Name"
                    value="" required
                    class="mt-1 p-2 w-full border rounded-md focus:outline-none focus:border-blue-500">
            </div>
    
            <div class="mb-4">
                <label for="shopOwner" class="block text-sm font-medium text-gray-600">Shop Owner:</label>
                <input type="text" id="shopOwner" name="shopOwner" placeholder="Enter Shop Owner"
                    value=""
                    class="mt-1 p-2 w-full border rounded-md focus:outline-none focus:border-blue-500">
            </div>
    
            <div class="mb-6">
                <label for="shopContact" class="block text-sm font-medium text-gray-600">Shop Contact:</label>
                <input type="text" id="shopContact" name="shopContact" placeholder="Enter Shop Contact"
                    value=""
                    class="mt-1 p-2 w-full border rounded-md focus:outline-none focus:border-blue-500">
            </div>
            <div class="mb-4">
                <label for="shopLatitude" class="block text-sm font-semibold text-gray-600">Shop Latitude:</label>
                <input type="text" id="shopLatitude" name="shopLatitude"
                    
                    class="w-full px-4 py-2 border rounded-md focus:outline-none focus:border-blue-500"
                    placeholder="Enter Latitude Eg 27.2333432" value="{% if lat %}{{lat}}{% endif %}">
            </div>
            <div class="mb-4">
                <label for="shopLongitude" class="block text-sm font-semibold text-gray-600">Shop Longitude:</label>
                <input type="text" id="shopLongitude" name="shopLongitude"
    
                    class="w-full px-4 py-2 border rounded-md focus:outline-none focus:border-blue-500"
                    placeholder="Enter Longitude Eg:87.232323" value="{% if long %}{{long}}{% endif %}">
            </div>

            <div class="mb-4">
                <label for="Username" class="block text-sm font-semibold text-gray-600">Username:</label>
                <input type="text" id="Username" name="Username"
                    class="w-full px-4 py-2 border rounded-md focus:outline-none focus:border-blue-500"
                    placeholder="Username" required>
            </div>

            <div class="mb-4">
                <label for="Password" class="block text-sm font-semibold text-gray-600">Password:</label>
                <input type="password" id="Password" name="Password"
                    class="w-full px-4 py-2 border rounded-md focus:outline-none focus:border-blue-500"
                    placeholder="Password" required>
            </div>
    
            <button type="submit"
                class="w-full bg-blue-500 text-white py-2 px-4 rounded-md transition duration-300 hover:bg-blue-700 focus:outline-none focus:shadow-outline-blue">
                Save
            </button>
        </form>
    
        <!-- Back Button (Optional) -->
        {% if request.user.is_superuser %}
        <a href="{% url 'listmall' %}" class="text-blue-500 hover:underline">Back to Mall List</a>
        {% else %}
        <a href="/" class="text-blue-500 hover:underline">Back to Home</a>

        {% endif %}
    </div>


    <div class="w-6/12">
        <div id="map" style="width: 100%; height: 600px;" class="rounded-lg "></div>
      </div>
  </div>
  
  </div>


  <script>
var mall_id = {{mall.id}};
var mallName = "{{mall.mallName}}";
var userlatitude = {{mall.latitude}};
var userlongitude = {{mall.longitude}};
var mall_location = "{{mall.mallAddress}}";
var fence_radius = {{mall.fence_radius}};

var shop_lat_el = document.getElementById('shopLatitude');
var shop_long_el = document.getElementById('shopLongitude');

{% if lat and long %}

var shop_lat = {{lat}};
var shop_long = {{long}};
{% else %}

var shop_lat;
var shop_long;
{% endif %}

var map = L.map('map', {
    center: [userlatitude,userlongitude],
    zoom: 16
});
L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);
var marker;
var usermarker
var radius_layer;
var distance_line;
marker = L.marker([userlatitude, userlongitude],{icon:mall_icon}).addTo(map)
    .bindPopup(`<p class="text-lg font-bold"> ${mallName} </p> ${mall_location}`)
    .openPopup();
radius_layer = L.circle([userlatitude, userlongitude], {radius:fence_radius}).addTo(map);
  
if(shop_lat){
    usermarker = L.marker([shop_lat, shop_long]).addTo(map)
    .bindPopup(`
    New Shop to be Added
    ${shop_lat},${shop_long}`)
    .openPopup();

    shop_lat_el.value = shop_lat;
    shop_long_el.value = shop_long;

}
map.on('click',(event)=>{

    if(usermarker){
        map.removeLayer(usermarker)
    }
    if(distance_line){
        map.removeLayer(distance_line)
    }

    if(map.distance([userlatitude,userlongitude],event.latlng)>fence_radius){
        console.log('Shops cant be outside the fence')
        alert("Shops can't be outside the mall fence")
        return ;
    }
    usermarker = L.marker([event.latlng.lat, event.latlng.lng],{icon:shop_icon}).addTo(map)
    .bindPopup(`
    <a class="px-2 py-1 text-sm text-white bg-green-500 rounded-xl" href="">Add Shop</a>
    ${event.latlng.lat},${event.latlng.lng}`)
    .openPopup();

    shop_lat_el.value = event.latlng.lat;
    shop_long_el.value = event.latlng.lng;
    // distance_line = L.polygon([event.latlng,[userlatitude,userlongitude]], {color: 'red'}).addTo(map);
})

document.addEventListener('DOMContentLoaded', function () {
      // Your JavaScript code goes here
    getshops();
      // Example: Display an alert
     }
    
    );


async function getshops () {
    try{
        const response = await fetch(`/shopsbymall/?mall_id=${mall_id}`)
        if (!response.ok) {
          throw new Error(`HTTP error! Status: ${response.status}`);
        }

        const result = await response.json()
        shops = result.shops;
        shops.forEach(shop => {
            L.marker([shop.latitude,shop.longitude],{icon:shop_icon}).addTo(map)
        .bindPopup(`<p>${shop.shopName}</p>`)
    // .openPopup();
      
     })
    }catch (error){
        console.log(error)

    }
}


  </script>
{% endblock content %}