{% extends 'base.html' %}
{% block title %}Shop Details{% endblock %}

{% block content %}
    <div class="container mx-auto mt-8 p-8 bg-white rounded-lg shadow-lg">
        {% if request.user.is_superuser %}
        <div class="container mx-auto mt-10">
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
                <!-- Total Products Card -->
                <div class="bg-blue-500 p-6 rounded-lg shadow-lg text-white">
                    <div class="flex items-center">
                        <span class="mr-4">
                            <i class="fa-solid fa-building fa-2x"></i>
                            <!-- <i class="fas fa-box fa-2x"></i> -->
                        </span>
                        <div>
                            <p class="text-lg font-semibold">Total Malls</p>
                            <p class="text-3xl font-bold">{{malls_count}}</p>
                        </div>
                    </div>
                </div>
          
                <!-- Total Offers Card -->
                <div class="bg-green-500 p-6 rounded-lg shadow-lg text-white">
                    <div class="flex items-center">
                        <span class="mr-4">
                          
                            <i class="fa-solid fa-shop fa-2x"></i>
                        </span>
                        <div>
                            <p class="text-lg font-semibold">Total Shops</p>
                            <p class="text-3xl font-bold">{{shops_count}}</p>
                        </div>
                    </div>
                </div>
          
                <!-- Impressions Card -->
                <!-- <div class="bg-yellow-500 p-6 rounded-lg shadow-lg text-white">
                    <div class="flex items-center">
                        <span class="mr-4">
                            <i class="fas fa-eye fa-2x"></i>
                        </span>
                        <div>
                            <p class="text-lg font-semibold">Total Products</p>
                            <p class="text-3xl font-bold">{{pro}}</p>
                        </div>
                    </div>
                </div> -->
            </div>
          </div>
          <br>
        <a href="{% url 'listmall' %}" class="px-4 py-2 bg-red-500 rounded-xl text-white">Manage Malls</a>
            
            </div>

        {% elif request.user.is_staff %}

        <div class="container mx-auto p-8">
            <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
              <h2 class="text-2xl font-bold mb-4">Mall Information</h2>
              <p><strong>Mall Name:</strong> {{mall.mallName}}</p>
              <p><strong>Address:</strong> {{mall.mallAddress}}</p>
              <p><strong>No of Shops:</strong>{{mall.shops.all.count}}</p>
              <p><strong>Mall Radius:</strong> {{mall.fence_radius}} M</p>
            </div>
        
            <div class="mb-4">

            <a class="bg-green-500 text-white px-4 py-2 rounded" href="{% url 'addshopbymall' mall.id %}">
                
                <i class="fas fa-plus-circle mr-2"></i>
                Add Shop</a>

           
                <a class="bg-red-500 text-white px-4 py-2 rounded" href="{% url 'viewmall' mall.id %}"><i class="fas fa-map mr-2"></i> View Mall</a>
                <a href="{% url 'editmall' mall.id %}" class="bg-yellow-500 text-white px-4 py-2 rounded"><i class="fas fa-pencil mr-2"></i>Edit Mall</a>
              <!-- Add more buttons for other actions as needed -->
            </div>
          </div>

        <h1 class="text-4xl font-bold text-center mb-6 text-gray-800">Shops in {{mall}}</h1>

            <!-- Add New Shop Button -->
            <!-- <button
                class="bg-blue-500 text-white py-2 px-4 rounded-md transition duration-300 hover:bg-blue-700 focus:outline-none focus:shadow-outline-blue"
                onclick="window.location.href='createshop'">Add New Shop</button> -->

            <div class="overflow-x-auto mt-6">
                <table class="min-w-full border border-gray-300 divide-y divide-gray-300">
                    <thead>
                        <tr>
                            <th class="py-2 px-3 text-left">S.No.</th>
                            <th class="py-2 px-3 text-left">Shop Name</th>
                            <th class="py-2 px-3 text-left">Shop Owner</th>
                            <th class="py-2 px-3 text-left">Contact</th>
                            <th class="py-2 px-3 text-left">Actions</th> <!-- New column for Actions -->
                        </tr>
                    </thead>
                    <tbody class="space-y-2">
                        {% for shop in shops %}
                            <tr>
                                <td class="py-2 px-3">{{ forloop.counter }}</td>
                                <td class="py-2 px-3"><a href="{% url 'shopDetail' shop.pk %}">{{ shop.shopName }}</a></td>
                                <td class="py-2 px-3">{{ shop.shopOwner }}</td>
                                <td class="py-2 px-3">{{ shop.shopContact }}</td>
                                <td class="py-2 px-3">
                                    <!-- Edit Button with FontAwesome Edit Icon -->
                                    <a class="edit-button bg-transparent text-gray-500 hover:text-blue-500 focus:outline-none"
                                        href="{% url 'editshop' shop.pk %}">
                                        <i class="fa-solid fa-edit"></i>
                                    </a>
                                    <!-- Delete Button with FontAwesome Trash Icon -->
                                    <a class="delete-button bg-transparent text-gray-500 hover:text-red-500 focus:outline-none"
                                        href="{% url 'deleteshop' shop.pk %}">
                                        <i class="fa-solid fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
        {% else %}
            <div>

            </div>

            <div class="container mx-auto mt-10">
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
                    <!-- Total Products Card -->
                    <div class="bg-blue-500 p-6 rounded-lg shadow-lg text-white">
                        <div class="flex items-center">
                            <span class="mr-4">
                                <i class="fas fa-box fa-2x"></i>
                            </span>
                            <div>
                                <p class="text-lg font-semibold">Total Products</p>
                                <p class="text-3xl font-bold">{{products_count}}</p>
                            </div>
                        </div>
                    </div>
              
                    <!-- Total Offers Card -->
                    <div class="bg-green-500 p-6 rounded-lg shadow-lg text-white">
                        <div class="flex items-center">
                            <span class="mr-4">
                                <i class="fas fa-gift fa-2x"></i>
                            </span>
                            <div>
                                <p class="text-lg font-semibold">Total Offers</p>
                                <p class="text-3xl font-bold">{{offers_count}}</p>
                            </div>
                        </div>
                    </div>
              
                    <!-- Impressions Card -->
                    <div class="bg-yellow-500 p-6 rounded-lg shadow-lg text-white">
                        <div class="flex items-center">
                            <span class="mr-4">
                                <i class="fas fa-eye fa-2x"></i>
                            </span>
                            <div>
                                <p class="text-lg font-semibold">Impressions (Tap)</p>
                                <p class="text-3xl font-bold">{{impression_count}}</p>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
{%comment%}

            <div class="container mx-auto mt-10">
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
                    <!-- Shop 1 Chart -->
                    <div class=" p-6 rounded-lg shadow-lg text-black">
                        <h2 class="text-xl  font-bold mb-4">{{request.user.shop}}</h2>
                        <canvas id="shop1Chart" width="400" height="200"></canvas>
                    </div>
                    <div class=" p-6 rounded-lg shadow-lg text-black">
                        <h2 class="text-xl  font-bold mb-4">{{request.user.shop}}</h2>
                        <canvas id="shop2Chart" width="400" height="200"></canvas>
                    </div>
                    <div class=" p-6 rounded-lg shadow-lg text-black">
                        <h2 class="text-xl  font-bold mb-4">{{request.user.shop}}</h2>
                        <canvas id="shop3Chart" width="400" height="200"></canvas>
                    </div>
                </div>
            </div>

            {%endcomment%}
      
      
      <script>






const shopData = {
        shop1: { totalProducts: 100, totalOffers: 50, impressions: 200 },
        shop2: { totalProducts: 80, totalOffers: 50, impressions: 100 },
        shop3: { totalProducts: 120, totalOffers: 75, impressions: 800 },
    };


    // function createShopChart(shopId, data) {
    //           const ctx = document.getElementById(`${shopId}Chart`).getContext('2d');
    //     new Chart(ctx, {
    //         type: 'bar',
    //         data: {
    //             labels: ['Total Products', 'Total Offers', 'Impressions'],
    //             datasets: [{
    //                 label: `${shopId} Data`,
    //                 backgroundColor: ['#454737', 'rgba(255, 205, 86, 0.2)', 'rgba(255, 99, 132, 0.2)'],
    //                 borderColor: ['rgba(75, 192, 192, 1)', 'rgba(255, 205, 86, 1)', 'rgba(255, 99, 132, 1)'],
    //                 borderWidth: 1,
    //                 data: [data.totalProducts, data.totalOffers, data.impressions],
    //             }],
    //         },
    //         options: {
    //             scales: {
    //                 y: {
    //                     beginAtZero: true,
    //                 },
    //             },
    //         },
    //     });
    // }

    function createShopChart(shopId, data) {
    const ctx = document.getElementById(`${shopId}Chart`).getContext('2d');
    new Chart(ctx, {
        type: 'line', // Change type to 'line'
        data: {
            labels: ['Total Products', 'Total Offers', 'Impressions'],
            datasets: [{
                label: `${shopId} Data`,
                backgroundColor: 'rgba(255, 99, 132, 0.2)', // Background color for the line area
                borderColor: 'rgba(255, 99, 132, 1)', // Line color
                borderWidth: 1,
                pointBackgroundColor: 'rgba(255, 99, 132, 1)', // Point color
                data: [data.totalProducts, data.totalOffers, data.impressions],
            }],
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true,
                },
            },
        },
    });
}




    //     createShopChart('shop1', shopData.shop1);
    // createShopChart('shop2', shopData.shop2);
    // createShopChart('shop3', shopData.shop3);






    
      </script>

<div class=" p-6 rounded-lg shadow-lg text-black">
    <h2 class="text-xl  font-bold mb-4">{{request.user.shop}}' Offers Analytics</h2>
    <canvas id="impressionChart" width="400" height="200"></canvas>
</div>
<!-- <canvas id="impressionChart" width="400" height="200"></canvas> -->


<script>
    // Fetch data from the Django backend
    fetch('/offer-impression-chart/')
        .then(response => response.json())
        .then(data => {
            const ctx = document.getElementById('impressionChart').getContext('2d');

            // Create the chart
            new Chart(ctx, {
                type: 'bar',
                data: {
                    label:"Count",
                    labels: data.labels,
                    datasets: [{
                        backgroundColor: [
          'rgba(255, 99, 132, 0.5)',
          'rgba(54, 162, 235, 0.5)',
          'rgba(255, 206, 86, 0.5)',
          'rgba(75, 192, 192, 0.5)'
        ],
        borderColor: [
          'rgba(255, 99, 132, 1)',
          'rgba(54, 162, 235, 1)',
          'rgba(255, 206, 86, 1)',
          'rgba(75, 192, 192, 1)'
        ],
                        // label: 'Analytics',
                        data: data.data,
                        borderWidth: 1
                    }]
                },
                options: {
                    legend:{
                        display:false,
                    },
                    scales: {
                        // x: [{
                        //     type: 'time',
                        //     time: {
                        //         unit: 'day'
                        //     }
                        // }],
                        y: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        });
</script>



            <h1 class="text-4xl font-bold text-center mb-6 text-gray-800">{{request.user.shop}}</h1>

            <!-- Add New Product Button for non-superusers -->
            <button
                class="bg-blue-500 text-white py-2 px-4 rounded-md transition duration-300 hover:bg-blue-700 focus:outline-none focus:shadow-outline-blue"
                onclick="window.location.href='addproduct'">Add New Product</button>
            <div class="overflow-x-auto mt-6">
                <table class="min-w-full border border-gray-300 divide-y divide-gray-300">
                    <thead>
                        <tr>
                            <th class="py-2 px-3 text-left">S.No.</th>
                            <th class="py-2 px-3 text-left">Product Name</th>
                            <th class="py-2 px-3 text-left">Product Price</th>
                            <th class="py-2 px-3 text-left">Product Owner</th>
                            <th class="py-2 px-3 text-left">Product Image</th>

                            <th class="py-2 px-3 text-left">Offers</th>
                            <th class="py-2 px-3 text-left">Actions</th> <!-- New column for Actions -->
                        </tr>
                    </thead>
                    <tbody class="">
                        {% for product in products %}
                            <tr class="p-5">
                                <td class="py-2 px-3">{{ forloop.counter }}</td>
                                <td class="py-2 px-3"><a href="">{{ product.productName }}</a></td>
                                <td class="py-2 px-3">{{ product.productPrice }}</td>
                                <td class="py-2 px-3">{{ product.productOwner }}</td>
                                <td class="py-2 px-3">
                                    <img src="{% if product.productImage%}{{product.productImage.url}} {% else %} {{'productImages/product_placeholder.png'}} {% endif %}"  style="width: 100px; height: 80px;" alt="{{product.productName}}">
                                </td>

                                <td class="py-2 px-4 whitespace-normal text-center"><a href="{%url 'ProductOffer' product.pk%}" class="text-blue-500 hover:text-blue-300">{{product.offer_set.all.count}}</a></td>
                                <td class="py-2 px-3">
                                    <!-- Edit Button with FontAwesome Edit Icon -->
                                    <a class="edit-button bg-transparent text-gray-500 hover:text-blue-500 focus:outline-none"
                                        href="{% url 'editproduct'  product.id %}">
                                        <i class="fa-solid fa-edit"></i>
                                    </a>
                                    <!-- Delete Button with FontAwesome Trash Icon -->
                                    <a class="delete-button bg-transparent text-gray-500 hover:text-red-500 focus:outline-none"
                                        href="{% url 'deleteproduct' product.id %}">
                                        <i class="fa-solid fa-trash"></i>
                                    </a>
                                    <a href="{%url 'createOffer' product.id%}"
                                        class="text-blue-500">Create Offers</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>


            <br>
        <div class="container mx-auto p-8">
            <h2 class="text-2xl font-bold mb-4">Offer Impressions Log</h2>
        
            <table class="min-w-full bg-white border border-gray-300">
              <thead>
                <tr>
                  <th class="py-2 px-4 border-b">Offer</th>
                  <th class="py-2 px-4 border-b">Timestamp</th>
                  <th class="py-2 px-4 border-b">Status</th>
                  <th class="py-2 px-4 border-b">User Device</th>
                </tr>
              </thead>
              <tbody>
                {% for impression in offer_impressions %}
                  <tr>
                    <td class="py-2 px-4 border-b">{{ impression.offer.offerTitle }} <strong>[{{impression.offer.product}}]</strong></td>
                    <td class="py-2 px-4 border-b">{{ impression.timestamp }}</td>
                    <td class="py-2 px-4 border-b">{{ impression.status }}</td>
                    <td class="py-2 px-4 border-b">{{ impression.userdevice }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        {% endif %}

        
    </div>
{% endblock %}
