{% extends 'base.html' %}
{% block title %}Shop Details{% endblock %}

{% block content %}
    <div class="container mx-auto mt-8 p-8 bg-white rounded-lg shadow-lg">
        
            <h1 class="text-4xl font-bold text-center mb-6 text-gray-800">{{product.productName}}'s offers</h1>

            <!-- Add New Shop Button -->
            

            <div class="overflow-x-auto mt-6">
                <table class="min-w-full border border-gray-300 divide-y divide-gray-300">
                    <thead>
                        <tr>
                            <th class="py-2 px-3 text-left">S.No.</th>
                            <th class="py-2 px-3 text-left">Title</th>
                            <th class="py-2 px-3 text-left">Price</th>
                            <th class="py-2 px-3 text-left">Valid</th>
                            <th class="py-2 px-3 text-left">Actions</th>
                             <!-- New column for Actions -->
                        </tr>
                    </thead>
                    <tbody class="space-y-2">
                        {% for offer in offers %}
                            <tr>
                                <td class="py-2 px-3">{{ forloop.counter }}</td>
                                <td class="py-2 px-3">{{ offer.offerTitle }}</td>
                                <td class="py-2 px-3">{{ offer.offerprice }}</td>
                                <td class="py-2 px-3">{{ offer.is_valid }}</td>
                                <td class="py-2 px-3">
                                    <a class="bg-yellow-500 text-white px-4 py-2 rounded" href="{% url 'edit_offer' offer.id %}">Edit</a>
                                    <a class="bg-blue-500 text-white px-4 py-2 rounded" href="{% url 'offer_toggle' offer.id %}">TOGGLE VALIDITY</a>
                                    
                                </td>
                                
                                
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <a href="/" class="py-2 px-4 bg-blue-500 text-white mt-2">Go to Home</a>

    </div>
{% endblock %}
